@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4EFE4;
}

main{
    background-color: #F4EFE4;
    width: 420px;
    border: 2px solid #0EA5E9;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; /*Peguei no site Css Scan*/
}

main h1{
    text-align: center;
    font-size: 36px;
    color: #0EA5E9;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #0EA5E9;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
}

.input-box input::placeholder {
    color: #0EA5E9;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #0EA5E9;
    font-size: 20px;
}

button{
    width: 100%;
    height: 100%;
    color: #0EA5E9;
    background-color: transparent;
    border: 2px solid #0EA5E9;
    border-radius: 40px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600; /*Coloca como se fosse um negrito*/
    margin-top: 20px;
}

button:hover{
    color: black;
    background-color: #0792d3;
    transition: 0.4s ease;
    border-color: #0792d3;
}

.logar {
   padding: 15px; 
    font-size: 16px;
    text-align: center;
}

.logar a{
    text-decoration: none;
    color: #0EA5E9;
}

.logar a:hover{
    color: #0792d3;
    text-decoration: underline;
}